apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-from-flightctl
  namespace: '{{ default "open-cluster-management" .Values.global.namespace }}'
spec:
  ingress:
  - from:
    - namespaceSelector:
        matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values:
          - open-cluster-management
          - open-cluster-management
          - openshift-console
      podSelector: {}
  podSelector: {}
  policyTypes:
  - Ingress
