apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: flightctl-secrets
  namespace: '{{ .Values.global.namespace }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: flightctl-secrets
subjects:
- kind: ServiceAccount
  name: flightctl-secrets
  namespace: '{{ .Values.global.namespace }}'
