apiVersion: batch/v1
kind: Job
metadata:
  name: flightctl-secrets
  namespace: '{{ default "{{ .Values.global.namespace }}" .Values.global.namespace }}'
spec:
  manualSelector: true
  selector:
    matchLabels:
      flightctl.service: secrets-job
  template:
    metadata:
      labels:
        flightctl.service: secrets-job
      name: flightctl-secrets
    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - "set -e\nDB_MASTER_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')\nDB_USER_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')\nKV_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')\nDB_MIGRATION_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')\nif ! kubectl get secret flightctl-db-admin-secret -n {{ .Values.global.namespace }} >/dev/null 2>&1; then\n  kubectl create secret generic flightctl-db-admin-secret -n={{ .Values.global.namespace }} --from-literal=masterPassword=\"$DB_MASTER_PASSWORD\" --from-literal=masterUser=\"admin\" --\n  kubectl label secret flightctl-db-admin-secret -n {{ .Values.global.namespace }} flightctl.service=flightctl-db-admin security.level=high-privilege\nfi\nif ! kubectl get secret flightctl-db-app-secret -n {{ .Values.global.namespace }} >/dev/null 2>&1; then\n  kubectl create secret generic flightctl-db-app-secret -n={{ .Values.global.namespace }} --from-literal=userPassword=\"$DB_USER_PASSWORD\" --from-literal=user=\"flightctl_app\"\n  kubectl label secret flightctl-db-app-secret -n {{ .Values.global.namespace }} flightctl.service=flightctl-db-app security.level=application\nfi\nif ! kubectl get secret flightctl-kv-secret -n {{ .Values.global.namespace }} >/dev/null 2>&1; then\n  kubectl create secret generic flightctl-kv-secret -n={{ .Values.global.namespace }} --from-literal=password=\"$KV_PASSWORD\"\nfi\nif ! kubectl get secret flightctl-db-migration-secret -n {{ .Values.global.namespace }} >/dev/null 2>&1; then\n  kubectl create secret generic flightctl-db-migration-secret -n={{ .Values.global.namespace }} --from-literal=migrationUser=\"flightctl_migrator\" --from-literal=migrationPassword=$DB_MIGRATION_PASSWORD\n  kubectl label secret flightctl-db-migration-secret -n {{ .Values.global.namespace }} flightctl.service=flightctl-db-migration security.level=schema-privilege\nfi\n"
        env: []
        image: '{{ .Values.global.imageOverrides.origin_cli }}'
        imagePullPolicy: '{{ .Values.global.pullPolicy }}'
        name: flightctl-secrets
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      restartPolicy: Never
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: flightctl-secrets
