apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flightctl-installer
  namespace: '{{ default "open-cluster-management" .Values.global.namespace }}'
rules:
- apiGroups:
  - flightctl.io
  resources:
  - enrollmentrequests
  verbs:
  - get
  - list
- apiGroups:
  - flightctl.io
  resources:
  - enrollmentrequests/approval
  verbs:
  - post
- apiGroups:
  - flightctl.io
  resources:
  - certificatesigningrequests
  verbs:
  - get
  - list
  - create
