apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    flightctl.service: flightctl-api
  name: flightctl-api-{{ .Values.global.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: flightctl-api-{{ .Values.global.namespace }}
subjects:
- kind: ServiceAccount
  name: flightctl-api
  namespace: '{{ default "{{ .Values.global.namespace }}" .Values.global.namespace }}'
