apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flightctl-operator
  namespace: '{{ default "open-cluster-management" .Values.global.namespace }}'
rules:
- apiGroups:
  - flightctl.io
  resources:
  - devices
  - fleets
  - resourcesyncs
  verbs:
  - get
  - list
  - create
  - delete
  - update
  - patch
- apiGroups:
  - flightctl.io
  resources:
  - devices/console
  verbs:
  - get
- apiGroups:
  - flightctl.io
  resources:
  - repositories
  - fleets/templateversions
  verbs:
  - get
  - list
