apiVersion: v1
data:
  AUTH_CLIENT_ID: flightctl
  AUTH_INSECURE_SKIP_VERIFY: 'false'
  FLIGHTCTL_ALERTMANAGER_PROXY: https://alertmanager-proxy.{{ .Values.global.baseDomain }}
  FLIGHTCTL_CLI_ARTIFACTS_SERVER: http://flightctl-cli-artifacts:8090
  FLIGHTCTL_SERVER: https://flightctl-api:3443/
  FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY: 'true'
  IS_RHEM: 'false'
  K8S_RBAC_NS: '{{ .Values.global.namespace }}'
kind: ConfigMap
metadata:
  name: flightctl-ui
  namespace: '{{ .Values.global.namespace  }}'
