apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: flightctl-job-status
  name: flightctl-job-status-reader
  namespace: '{{ .Values.global.namespace }}'
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
