apiVersion: v1
kind: Service
metadata:
  labels:
    flightctl.service: flightctl-db
  name: flightctl-db
  namespace: '{{ default "open-cluster-management" .Values.global.namespace }}'
spec:
  ports:
  - name: '5432'
    port: 5432
    targetPort: 5432
  selector:
    flightctl.service: flightctl-db
