apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flightctl-admin
  namespace: '{{ default "open-cluster-management" .Values.global.namespace }}'
rules:
- apiGroups:
  - flightctl.io
  resources:
  - '*'
  verbs:
  - '*'
