apiVersion: v1
kind: Service
metadata:
  labels:
    flightctl.service: flightctl-kv
  name: flightctl-kv
  namespace: '{{ default "default" .Values.global.namespace }}'
spec:
  ports:
  - name: '6379'
    port: 6379
    targetPort: 6379
  selector:
    flightctl.service: flightctl-kv
