# Copyright Contributors to the Open Cluster Management project

# pre hook used to install the OADP Operator, using the open-cluster-management-backup namespace
# Creates the OADP Operator subscription group, if the cluster is not STS enabled
# For an STS enabled cluster, the chart creates a ConfigMap storing OADP subscription settings
{{- if .Values.hubconfig.clusterSTSEnabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: acm-redhat-oadp-operator-subscription
  namespace: open-cluster-management-backup
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"
data:
  channel: {{ .Values.global.channel }}
  name: {{ .Values.global.name }}
  source: {{ .Values.global.source }}
  sourceNamespace: {{ .Values.global.sourceNamespace }}
  {{- if .Values.hubconfig.proxyConfigs }}
  env_HTTP_PROXY: {{ .Values.hubconfig.proxyConfigs.HTTP_PROXY }}
  env_HTTPS_PROXY: {{ .Values.hubconfig.proxyConfigs.HTTPS_PROXY }}
  env_NO_PROXY: {{ .Values.hubconfig.proxyConfigs.NO_PROXY }}
  {{- end }}
{{- else }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: redhat-oadp-operator-subscription
  namespace: open-cluster-management-backup
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-1"
    "helm.sh/resource-policy": delete
spec:
  channel: {{ .Values.global.channel }}
  config:
    resources: {}
{{- with .Values.hubconfig.nodeSelector }}
    nodeSelector:
{{ toYaml . | indent 6 }}
{{- end }}
{{- with .Values.hubconfig.tolerations }}
    tolerations:
    {{- range . }}
    - {{ if .Key }} key: {{ .Key }} {{- end }}
      {{ if .Operator }} operator: {{ .Operator }} {{- end }}
      {{ if .Value }} value: {{ .Value }} {{- end }}
      {{ if .Effect }} effect: {{ .Effect }} {{- end }}
      {{ if .TolerationSeconds }} tolerationSeconds: {{ .TolerationSeconds }} {{- end }}
      {{- end }}
{{- end }}
    {{- if .Values.hubconfig.proxyConfigs }}
    env:
    - name: HTTP_PROXY
      value: {{ .Values.hubconfig.proxyConfigs.HTTP_PROXY }}
    - name: HTTPS_PROXY
      value: {{ .Values.hubconfig.proxyConfigs.HTTPS_PROXY }}
    - name: NO_PROXY
      value: {{ .Values.hubconfig.proxyConfigs.NO_PROXY }}
    {{- end }}
  installPlanApproval: {{ .Values.global.installPlanApproval}}
  name: {{ .Values.global.name }}
  source: {{ .Values.global.source }}
  sourceNamespace: {{ .Values.global.sourceNamespace }}
{{- end }}