apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: '{{ .Values.org }}:{{ .Chart.Name }}:search-v2-operator-metrics-reader'
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
