# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_STORE

# Test binary, build with `go test -c`
*.test
cover.*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.build-harness-bootstrap
build/_output/bin/
build/registration-operator/
.idea/
build-harness/
build-harness-extensions/
crds/
test/out
test/coverage
test/resources
test/options.yaml
test/results/*
vendor/

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Generated bundles from opm
bundles/

# Customized during configmap install  
build/configmap-install/index-configmap.yaml
bundle.Dockerfile
*.tap
