# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_STORE

# Test binary, build with `go test -c`
*.test
cover.*
gosec.json
report.json

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.build-harness-bootstrap
build/_output/bin/
.idea/
build-harness/
build-harness-extensions/

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Generated bundles from opm
bundles/
# Customized during configmap install  
build/configmap-install/index-configmap.yaml
bundle.Dockerfile