# Copyright (c) 2020 Red Hat, Inc.
# Copyright Contributors to the Open Cluster Management project

apiVersion: apps/v1
kind: Deployment
metadata:
  name: console-chart-console-v2
  labels:
    app: console-chart-v2
    chart: console-chart-{{ .Values.hubconfig.hubVersion }}
    component: "console"
    release: console
    app.kubernetes.io/instance: console
    app.kubernetes.io/name: console-chart
spec:
  replicas: {{ .Values.hubconfig.replicaCount }}
  selector:
    matchLabels:
      app: console-chart-v2
      component: "console"
      release: console
  template:
    metadata:
      labels:
        app: console-chart-v2
        ocm-antiaffinity-selector: "console"
        component: "console"
        release: console
        chart: console-chart-{{ .Values.hubconfig.hubVersion }}
        app.kubernetes.io/instance: console
        app.kubernetes.io/name: console-chart
    spec:
      hostNetwork: false
      hostPID: false
      hostIPC: false
      serviceAccountName: console-chart
      securityContext:
        runAsNonRoot: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
                - arm64
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 70
            podAffinityTerm:
              topologyKey: topology.kubernetes.io/zone
              labelSelector:
                matchExpressions:
                - key: ocm-antiaffinity-selector
                  operator: In
                  values:
                  - console
                - key: component
                  operator: In
                  values:
                  - console
          - weight: 35
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                - key: ocm-antiaffinity-selector
                  operator: In
                  values:
                  - console
                - key: component
                  operator: In
                  values:
                  - console
      {{- with .Values.hubconfig.tolerations }}
      tolerations:
      {{- range . }}
      - {{ if .Key }} key: {{ .Key }} {{- end }}
        {{ if .Operator }} operator: {{ .Operator }} {{- end }}
        {{ if .Value }} value: {{ .Value }} {{- end }}
        {{ if .Effect }} effect: {{ .Effect }} {{- end }}
        {{ if .TolerationSeconds }} tolerationSeconds: {{ .TolerationSeconds }} {{- end }}
        {{- end }}
      {{- end }}
      volumes:
      - name: console-chart-console-certs
        secret:
          defaultMode: 420
          secretName: console-chart-console-certs
      - name: console-chart-console-config
        configMap:
          name: console-config
      containers:
      - name: console
        volumeMounts:
        - mountPath: /app/certs
          name: console-chart-console-certs
        - mountPath: /app/config
          name: console-chart-console-config
        image: {{ .Values.global.imageOverrides.console }}
        imagePullPolicy: {{ .Values.global.pullPolicy }}
        resources:
          requests:
            memory: {{ .Values.global.templateOverrides.console_deployment_container_memory_request | default "40Mi" | quote }}
            cpu: {{ .Values.global.templateOverrides.console_deployment_container_cpu_request | default "3m" | quote }}
        {{- if or .Values.global.templateOverrides.console_deployment_container_memory_limit .Values.global.templateOverrides.console_deployment_container_cpu_limit }}
          limits:
          {{- if .Values.global.templateOverrides.console_deployment_container_memory_limit }}
            memory: {{ .Values.global.templateOverrides.console_deployment_container_memory_limit | quote }}
          {{- end }}
          {{- if .Values.global.templateOverrides.console_deployment_container_cpu_limit }}
            cpu: {{ .Values.global.templateOverrides.console_deployment_container_cpu_limit | quote }}
          {{- end }}
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
        env:
        - name: PORT
          value: "3000"
        - name: CLUSTER_API_URL
          value: https://kubernetes.default.svc:443
        - name: DISABLE_EVENTS
          value: "true"
        {{- if .Values.hubconfig.proxyConfigs }}
        - name: HTTP_PROXY
          value: {{ .Values.hubconfig.proxyConfigs.HTTP_PROXY }}
        - name: HTTPS_PROXY
          value: {{ .Values.hubconfig.proxyConfigs.HTTPS_PROXY }}
        - name: NO_PROXY
          value: {{ .Values.hubconfig.proxyConfigs.NO_PROXY }}
        {{- end }}
        ports:
        - containerPort: 3000
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readinessProbe
            port: 3000
            scheme: HTTPS
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: /livenessProbe
            port: 3000
            scheme: HTTPS
          timeoutSeconds: 5
          initialDelaySeconds: 10
      {{- if .Values.global.pullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.pullSecret }}
      {{- end }}
      {{- with .Values.hubconfig.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
