apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ClusterManagementAddOn
metadata:
  name: acm-roles
  labels:
    velero.io/exclude-from-backup: 'true'
  annotations:
    addon.open-cluster-management.io/lifecycle: "addon-manager"
spec:
  addOnMeta:
    description: ACM Roles
    displayName: ACM Roles
  supportedConfigs:
    - group: addon.open-cluster-management.io
      resource: addontemplates
      defaultConfig:
        name: acm-roles
  installStrategy:
    type: Placements
    placements:
    - name: global
      namespace: open-cluster-management-global-set
