apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: multiclusterhub-operator
    app.kubernetes.io/name: multicluster-role-assignment
    velero.io/exclude-from-backup: 'true'
  name: multicluster-role-assignment-manager-role
rules:
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - placementdecisions
  - placements
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.open-cluster-management.io
  resources:
  - clusterpermissions
  - multiclusterroleassignments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.open-cluster-management.io
  resources:
  - multiclusterroleassignments/finalizers
  verbs:
  - update
- apiGroups:
  - rbac.open-cluster-management.io
  resources:
  - multiclusterroleassignments/status
  verbs:
  - get
  - patch
  - update
