apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    velero.io/exclude-from-backup: 'true'
  name: '{{ .Values.org }}:{{ .Chart.Name }}:fine-grained-rbac'
rules:
- apiGroups:
  - config.openshift.io
  resources:
  - oauths
  verbs:
  - list
  - watch
