apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  labels:
    open-cluster-management.io/policy-cnv: virt-rbac
    velero.io/exclude-from-backup: 'true'
  name: placement-policy-virt-rbac
  namespace: open-cluster-management-global-set
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchExpressions:
        - key: environment
          operator: In
          values:
          - virtualization
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
          local-cluster: 'true'
  tolerations:
  - key: cluster.open-cluster-management.io/unavailable
    operator: Exists
  - key: cluster.open-cluster-management.io/unreachable
    operator: Exists
