apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: mtv-plan-webhook-server-cert
  name: mtv-plan-webhook-service
  namespace: {{ .Values.global.namespace }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    app: mtv-integrations
