
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: multiclusterhub-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - namespaces
  - pods
  - pods/log
  - secrets
  - serviceaccounts
  - services
  - services/finalizers
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - action.open-cluster-management.io
  resources:
  - managedclusteractions
  - managedclusteractions/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - addon.open-cluster-management.io
  resources:
  - clustermanagementaddons
  - managedclusteraddons
  - managedclusteraddons/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - agent.open-cluster-management.io
  resources:
  - klusterletaddonconfigs
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - app.k8s.io
  resources:
  - applications
  - applications/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/finalizers
  - replicasets
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.open-cluster-management.io
  resources:
  - channels
  - channels/status
  - deployables
  - deployables/status
  - helmreleases
  - placementrules
  - placementrules/status
  - subscriptions
  - subscriptions/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  - certificatesigningrequests/approval
  - signers
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - clusterclaims
  - clustercurators
  - managedclusters
  - managedclustersetbindings
  - managedclustersets
  - managedclustersets/bind
  - managedclustersets/join
  - managedclustersets/status
  - placementdecisions
  - placementdecisions/status
  - placements
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - clusterview.open-cluster-management.io
  resources:
  - managedclusters
  - managedclusters/accept
  - managedclusters/status
  - managedclustersets
  - managedclustersets/bind
  - managedclustersets/join
  - managedclustersets/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compliance.mcm.ibm.com
  resources:
  - compliances
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  - ingresses
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - discovery.open-cluster-management.io
  resources:
  - discoveredclusters
  - discoveryconfigs
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterclaims
  - clusterdeployments
  - clusterpools
  - hiveconfigs
  - machinepools
  - syncsets
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hiveinternal.openshift.io
  resources:
  - clustersyncs
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - internal.open-cluster-management.io
  resources:
  - managedclusterinfos
  - managedclusterinfos/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - inventory.open-cluster-management.io
  resources:
  - baremetalassets
  - baremetalassets/finalizers
  - baremetalassets/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mcm.ibm.com
  resources:
  - applicationrelationships
  - applicationrelationships/status
  - clusterjoinrequests
  - deployableoverrides
  - deployableoverrides/status
  - deployables
  - deployables/status
  - helmrepos
  - helmrepos/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  - servicemonitors/finalizers
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multicloud.ibm.com
  resources:
  - endpointconfigs
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - observability.open-cluster-management.io
  resources:
  - multiclusterobservabilities
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.open-cluster-management.io
  resources:
  - clustermanagers
  - multiclusterhubs
  - multiclusterhubs/finalizers
  - multiclusterhubs/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy.open-cluster-management.io
  resources:
  - placementbindings
  - policies
  - policies/status
  - policyautomations
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxy.open-cluster-management.io
  resources:
  - clusterstatuses/aggregator
  - clusterstatuses/log
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - register.open-cluster-management.io
  resources:
  - managedclusters/accept
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - search.open-cluster-management.io
  resources:
  - searchcustomizations
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - submarineraddon.open-cluster-management.io
  resources:
  - submarinerconfigs
  - submarinerconfigs/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - view.open-cluster-management.io
  resources:
  - managedclusterviews
  - managedclusterviews/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - wgpolicyk8s.io
  resources:
  - policyreports
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - work.open-cluster-management.io
  resources:
  - manifestworks
  - manifestworks/status
  verbs:
  - approve
  - bind
  - create
  - delete
  - deletecollection
  - escalate
  - get
  - list
  - patch
  - update
  - watch
