apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: multicloudhubs.operators.multicloud.ibm.com
spec:
  group: operators.multicloud.ibm.com
  names:
    kind: MultiCloudHub
    listKind: MultiCloudHubList
    plural: multicloudhubs
    singular: multicloudhub
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: MultiCloudHub is the Schema for the multicloudhubs API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: MultiCloudHubSpec defines the desired state of MultiCloudHub
          properties:
            etcd:
              description: Spec of etcd
              properties:
                endpoints:
                  description: Endpoints of etcd
                  type: string
                secret:
                  description: Secret of etcd
                  type: string
              required:
              - endpoints
              type: object
            foundation:
              description: Spec of foundation
              properties:
                apiserver:
                  description: Spec of apiserver
                  properties:
                    apiserverSecret:
                      description: Certificates of API server
                      type: string
                    configuration:
                      additionalProperties:
                        type: string
                      description: Configuration of the pod
                      type: object
                    klusterletSecret:
                      description: Certificates of Klusterlet
                      type: string
                    replicas:
                      description: Number of desired pods. This is a pointer to distinguish
                        between explicit zero and not specified. Defaults to 1
                      format: int32
                      type: integer
                  type: object
                controller:
                  description: Spec of controller
                  properties:
                    configuration:
                      additionalProperties:
                        type: string
                      description: Configuration of the pod
                      type: object
                    replicas:
                      description: Number of desired pods. This is a pointer to distinguish
                        between explicit zero and not specified. Defaults to 1
                      format: int32
                      type: integer
                  type: object
              type: object
            imagePullPolicy:
              description: Pull policy of the MultiCloud hub images
              type: string
            imagePullSecret:
              description: Pull secret of the MultiCloud hub images
              type: string
            imageRepository:
              description: Repository of the MultiCloud hub images
              type: string
            mongo:
              description: Spec of mongo
              properties:
                caSecret:
                  description: CA secret of mongo
                  type: string
                endpoints:
                  description: Endpoints of mongo
                  type: string
                replicaSet:
                  description: Replica set of mongo
                  type: string
                tlsSecret:
                  description: TLS secret of mongo
                  type: string
                userSecret:
                  description: User secret of mongo
                  type: string
              required:
              - endpoints
              - replicaSet
              type: object
            nodeSelector:
              description: Spec of NodeSelector
              properties:
                customLabelSelector:
                  description: Spec of CustomLabelSelector
                  type: string
                customLabelValue:
                  description: Spec of CustomLabelValue
                  type: string
                os:
                  description: Spec of OS
                  type: string
              type: object
            version:
              description: Version of the MultiCloud hub
              type: string
          required:
          - etcd
          - mongo
          # k8s v1.14 cannot ensure the order of mutating and validating webhooks, so after v1.14,
          # these required fields can be enabled
          # - foundation
          # - imagePullPolicy
          # - imageRepository
          # - version
          type: object
        status:
          description: MultiCloudHubStatus defines the observed state of MultiCloudHub
          properties:
            deployments:
              description: Represents the status of each deployment
              items:
                description: DeploymentResult defines the observed state of Deployment
                properties:
                  name:
                    description: Name of the deployment
                    type: string
                  status:
                    description: The most recently observed status of the Deployment
                    properties:
                      availableReplicas:
                        description: Total number of available pods (ready for at
                          least minReadySeconds) targeted by this deployment.
                        format: int32
                        type: integer
                      collisionCount:
                        description: Count of hash collisions for the Deployment.
                          The Deployment controller uses this field as a collision
                          avoidance mechanism when it needs to create the name for
                          the newest ReplicaSet.
                        format: int32
                        type: integer
                      conditions:
                        description: Represents the latest available observations
                          of a deployment's current state.
                        items:
                          description: DeploymentCondition describes the state of
                            a deployment at a certain point.
                          properties:
                            lastTransitionTime:
                              description: Last time the condition transitioned from
                                one status to another.
                              format: date-time
                              type: string
                            lastUpdateTime:
                              description: The last time this condition was updated.
                              format: date-time
                              type: string
                            message:
                              description: A human readable message indicating details
                                about the transition.
                              type: string
                            reason:
                              description: The reason for the condition's last transition.
                              type: string
                            status:
                              description: Status of the condition, one of True, False,
                                Unknown.
                              type: string
                            type:
                              description: Type of deployment condition.
                              type: string
                          required:
                          - status
                          - type
                          type: object
                        type: array
                      observedGeneration:
                        description: The generation observed by the deployment controller.
                        format: int64
                        type: integer
                      readyReplicas:
                        description: Total number of ready pods targeted by this deployment.
                        format: int32
                        type: integer
                      replicas:
                        description: Total number of non-terminated pods targeted
                          by this deployment (their labels match the selector).
                        format: int32
                        type: integer
                      unavailableReplicas:
                        description: Total number of unavailable pods targeted by
                          this deployment. This is the total number of pods that are
                          still required for the deployment to have 100% available
                          capacity. They may either be pods that are running but not
                          yet available or pods that still have not been created.
                        format: int32
                        type: integer
                      updatedReplicas:
                        description: Total number of non-terminated pods targeted
                          by this deployment that have the desired template spec.
                        format: int32
                        type: integer
                    type: object
                required:
                - name
                - status
                type: object
              type: array
            phase:
              description: Represents the running phase of the MultiCloudHub
              type: string
          required:
          - phase
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
