apiVersion: apps/v1
kind: Deployment
metadata:
  name: multiclusterhub-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: multiclusterhub-operator
  template:
    metadata:
      labels:
        name: multiclusterhub-operator
    spec:
      serviceAccountName: multiclusterhub-operator
      imagePullSecrets:
      - name: multiclusterhub-operator-pull-secret
      containers:
        - name: multiclusterhub-operator
          image: multiclusterhub-operator:2.2.9
          imagePullPolicy: Always
          command:
          - multiclusterhub-operator
          resources:
            requests:
              memory: 256Mi
              cpu: 100m
            limits:
              memory: 2048Mi
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "multiclusterhub-operator"
            - name: USER
              value: "multiclusterhub-operator"
            - name: TEMPLATES_PATH
              value: "/usr/local/templates"
            - name: MANIFESTS_PATH
              value: "/image-manifests"
            - name: CRDS_PATH
              value: "/crds"
