apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
  name: "open-cluster-management:multicloud-operators-subscription:rbac-aggregate-admin"
rules:
- apiGroups:
  - app.k8s.io
  resources:
  - applications
  verbs:
  - '*'
- apiGroups:
  - apps.open-cluster-management.io
  resources:
  - channels
  - deployables
  - gitopsclusters
  - helmreleases
  - placementrules
  - subscriptionreports
  - subscriptions
  - subscriptionstatuses
  verbs:
  - '*'
