acm-release-version: '2.16'
components:
  - repo_name: "mtv-integrations"
    github_ref: "https://github.com/stolostron/mtv-integrations.git"
    branch: "release-2.16"
    charts:
      - name: "mtv-integrations"
        chart-path: "charts"
        always-or-toggle: "toggle"
        imageMappings:
          mtv-integrations: mtv_integrations
        inclusions:
          - "pullSecretOverride"
        skipRBACOverrides: true
        updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
        escape-template-variables:
          - "CLUSTER_NAME"
          - "HUB_KUBECONFIG"
          - "INSTALL_NAMESPACE"
          - "LIVE_NETWORK_KEY"
          - "LIVE_NETWORK_VALUE"
        auto-install-for-all-clusters: true

  - repo_name: "multicluster-role-assignment"
    github_ref: "https://github.com/stolostron/multicluster-role-assignment.git"
    branch: "main"
    charts:
      - name: "fine-grained-rbac"
        chart-path: "charts/fine-grained-rbac"
        always-or-toggle: "toggle"
        imageMappings:
          multicluster-role-assignment: multicluster_role_assignment
        updateChartVersion: true
        escape-template-variables:
          - "hub"
          - "CLUSTER_NAME"