
- repo_name: multicloud-operators-subscription
  github_ref: "https://github.com/stolostron/multicloud-operators-subscription.git"
  branch: "release-2.9"
  operators:
    - name: multicloud-operators-subscription
      bundlePath: "deploy/olm-catalog/multicluster-operators-subscription/manifests/"
      imageMappings:
        multicluster-operators-subscription: multicluster_operators_subscription
        multicloud-integrations: multicloud_integrations
        multicluster-operators-application: multicluster_operators_application
        multicluster-operators-channel: multicluster_operators_channel
      exclusions:
        - readOnlyRootFilesystem

- repo_name: multicluster-observability-operator
  github_ref: "https://github.com/stolostron/multicluster-observability-operator.git"
  branch: "release-2.9"
  operators:
    - name: multicluster-observability-operator
      bundlePath: "operators/multiclusterobservability/bundle/manifests/"
      imageMappings:
        multicluster-observability-operator: multicluster_observability_operator

- repo_name: search-v2-operator
  github_ref: "https://github.com/stolostron/search-v2-operator.git"
  branch: "release-2.9"
  operators:
    - name: search-v2-operator
      bundlePath: "bundle/manifests/"
      imageMappings:
        search-v2-operator: search_v2_operator
        kube-rbac-proxy: kube_rbac_proxy
        postgresql-13: postgresql_13
        search-indexer: search_indexer
        search-collector: search_collector
        search-v2-api: search_v2_api

- repo_name: submariner-addon
  github_ref: "https://github.com/stolostron/submariner-addon.git"
  branch: "release-2.9"
  operators:
    - name: submariner-addon
      bundlePath: "deploy/olm-catalog/manifests/"
      imageMappings:
        submariner-addon: submariner_addon
