acm-release-version: '2.17'
components:
  - repo_name: multicloud-operators-subscription
    github_ref: "https://github.com/stolostron/multicloud-operators-subscription.git"
    branch: "release-2.16"
    operators:
      - name: multicloud-operators-subscription
        bundlePath: "deploy/olm-catalog/multicluster-operators-subscription/manifests/"
        imageMappings:
          multicluster-operators-subscription: multicluster_operators_subscription
          multicloud-integrations: multicloud_integrations
          multicluster-operators-application: multicluster_operators_application
          multicluster-operators-channel: multicluster_operators_channel
        escape-template-variables:
          - ACTION
          - ARGO_ROLLOUTS_IMAGE
          - ARGOCD_AGENT_ENABLED
          - ARGOCD_AGENT_IMAGE
          - ARGOCD_AGENT_MODE
          - ARGOCD_AGENT_SERVER_ADDRESS
          - ARGOCD_AGENT_SERVER_PORT
          - ARGOCD_AGENT_UNINSTALL
          - ARGOCD_DEX_IMAGE
          - ARGOCD_IMAGE
          - ARGOCD_IMAGE_UPDATER_IMAGE
          - ARGOCD_EXTENSION_IMAGE
          - ARGOCD_REDIS_HA_IMAGE
          - ARGOCD_REDIS_HA_PROXY_IMAGE
          - ARGOCD_REDIS_IMAGE
          - ARGOCD_REPOSERVER_IMAGE
          - BACKEND_IMAGE
          - GITOPS_CONSOLE_PLUGIN_IMAGE
          - GITOPS_OPERATOR_IMAGE
          - GITOPS_OPERATOR_NAMESPACE
          - GITOPS_IMAGE
          - GITOPS_NAMESPACE
          - HTTP_PROXY
          - HTTPS_PROXY
          - NO_PROXY
          - REDIS_IMAGE
          - RECONCILE_SCOPE
          - UNINSTALL
        exclusions:
          - readOnlyRootFilesystem

  - repo_name: multicluster-observability-operator
    github_ref: "https://github.com/stolostron/multicluster-observability-operator.git"
    branch: "release-2.16"
    operators:
      - name: multicluster-observability-operator
        bundlePath: "operators/multiclusterobservability/bundle/manifests/"
        imageMappings:
          multicluster-observability-operator: multicluster_observability_operator

  - repo_name: search-v2-operator
    github_ref: "https://github.com/stolostron/search-v2-operator.git"
    branch: "release-2.16"
    operators:
      - name: search-v2-operator
        bundlePath: "bundle/manifests/"
        imageMappings:
          search-v2-operator: search_v2_operator
          kube-rbac-proxy: kube_rbac_proxy
          postgresql-16: postgresql_16
          search-indexer: search_indexer
          search-collector: search_collector
          search-v2-api: search_v2_api

  - repo_name: siteconfig
    github_ref: "https://github.com/stolostron/siteconfig.git"
    branch: "release-2.16"
    operators:
      - name: siteconfig-operator
        bundlePath: "bundle/manifests/"
        imageMappings:
          origin-kube-rbac-proxy: kube_rbac_proxy
          siteconfig-operator: siteconfig_operator
        webhook_paths:
          - config/webhook/manifests.yaml

  - repo_name: submariner-addon
    github_ref: "https://github.com/stolostron/submariner-addon.git"
    branch: "release-2.16"
    operators:
      - name: submariner-addon
        bundlePath: "deploy/olm-catalog/manifests/"
        imageMappings:
          submariner-addon: submariner_addon
