name: Installer Function Tests (Mock Image)

on: 
  # Trigger when PR is submitted to main
  pull_request:
    types: [ labeled ]
    branches:
      - main
      - add-pull-request-function-tests #Testing only

  # manual trigger
  workflow_dispatch:

jobs:
  function-test:
    if: ${{ github.event.label.name == 'ok-to-test' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Removing 'ok-to-test' label
        uses: buildsville/add-remove-label@v1
        with:
          token: ${{secrets.FF_TOKEN}}
          label: ok-to-test
          type: remove
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16.4' # The Go version to download (if necessary) and use.
      - name: Run Function Tests (Requires 'ok-to-test' label)
        run: |
          echo "${{ secrets.QUAY_TOKEN }}" | docker login quay.io/rhibmcollab -u "${{ secrets.QUAY_USER }}" --password-stdin
          echo "Running Pull Request Function Tests ..."
          bash ./common/scripts/pull-request-function-test.sh
        env:
          COLLECTIVE_TOKEN: ${{ secrets.COLLECTIVE_TOKEN }}
